*{
    margin: 0; 
    padding : 0; 
}

body {
    height : 100vh; 
    background-color: #FF7200;
}

.viande-container{
    display: none;
    font-weight : bold; 
}

.sauce-container{
    display: none;
    font-weight : bold; 

}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 1em; 
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top : 5em; 

}

.imgviande{
    height : 6em; 
    border-radius: 15px; 
}

.imgsauce{
    height : 6em; 
    border-radius: 15px; 
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1em; 
}

.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1em;  
}

.tacos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tacos{
    width : 15em; 
}

h1 {
    color : white; 
    background-color: black;
    width: 90%;
    text-align: center;
    font-size : 1.5em; 
    margin-top: 3em; ;
}

.dedicasse{
    position : fixed; 
    bottom : 0; 
    margin : 1em; 
    text-align: center;
    font-size : 0.8em; 
}

.h1-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height : 10em; 
    width : 10em; 
    border-radius: 50%;
    background-color: black;
    color : white; 
    font-weight : bold; 
    border : none; 
    font-size : 1em; 
}

.fleche-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleche{
    display: none;
    height : 4em; 
    margin-top : 1em; 
}